@charset "utf-8";
@import "~bulma/bulma";

input[type=checkbox] {
  margin-right: 5px;
}

.chart-style {
  min-width: 400px;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

thead tr td {
  cursor: pointer;
  font-weight: 700;
}