@charset "utf-8";
@import "~bulma/bulma.sass";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/icons";


input[type=checkbox] {
  margin-right: 5px;
}

.chart-style {
  min-width: 400px;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

thead tr td {
  cursor: pointer;
  font-weight: 700;
}