@charset "utf-8";
@import "~bulma/bulma.sass";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/icons";


input[type=checkbox] {
  margin-right: 5px;
}

.chart-style {
  height: 100%;
  min-height: 350px;
  width: 100%;
}

@include widescreen {
  .chart-style {
    min-width: 600px;
  }
}

@include desktop {
  .chart-style {
    min-width: 400px;
  }
}

@include mobile {
  #chart-title {
    display: none;
  }

  .table {
    font-size: 0.8em;
  }

  .chart-style {
    min-width: 300px;
    min-height: 280px;
  }
}

thead tr td {
  cursor: pointer;
  font-weight: 700;
}